@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.main-content {
  font-family: 'EB Garamond', serif;
  font-variation-settings: 'opsz' 12;
  font-kerning: auto;
  font-weight: 400;
  max-width: 70ch;
}

.main-content ul li p {
  text-align: left;
}

.main-content ol li p {
  text-align: left;
}

.main-content p {
  text-align: justify;
}

@media (max-width: 31.25rem) {
  .main-content p {
    text-align: justify;
  }
}
