@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.main-content {
  font-family: 'Libertinus Serif', 'Apple Garamond', 'Baskerville',
    'Libre Baskerville', 'Droid Serif', 'Times New Roman', 'Times', serif,
    'Noto Emoji', 'Quivira';
  font-kerning: normal;
  font-size: 1.05rem;
  max-width: 65ch;
}

.main-content ul li p {
  text-align: left;
}

.main-content ol li p {
  text-align: left;
}

.main-content > main > p {
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 31.25rem) {
  .main-content > main > p {
    text-align: left;
    hyphens: none;
  }
}

.sidenote {
  font-family: 'Libertinus Serif', 'Apple Garamond', 'Baskerville',
    'Libre Baskerville', 'Droid Serif', 'Times New Roman', 'Times', serif,
    'Noto Emoji', 'Quivira';
  padding-left: 20px;
  margin-bottom: 1.5em;
  font-size: 0.8em;
}

.sidenote-hover {
  color: #f99b6d;
  border-color: #f99b6d;
}

.main-content:has(#gallery-container) {
  max-width: 100%;

  img {
    display: block;
    max-width: 100%;
    max-height: 85vh;
    height: auto;
    margin: 0 auto -0.8em auto;
    border: 0.2em solid #000;
  }

  p {
    text-align: left;
  }

  p:has(img) + p {
    margin: 0.5em 2em 2em 2em;
    font-style: italic;
    text-align: center;
  }

  .main {
    position: relative;
    max-width: 100vw;
  }
}

@media (min-width: 50rem) {
  .main:has(#gallery-container) {
    position: relative;
    max-width: 90%;
  }
  .main-content:has(#gallery-container) img {
    border: 0.3em solid #000;
  }
}

.main-header-no-search {
  z-index: 0;
}

.nav-list .nav-list-item .nav-list-link {
  min-height: 2rem;
  line-height: 1.15rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
}

.site-title {
  font-size: 1.2rem !important;
}

.main-content h1 {
  font-variation-settings: 'wght' 460, 'opsz' 20;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  font-weight: bold;
}

.main-content h1 {
  font-size: 2.2rem;
  font-weight: normal;
}

.main-content h2 {
  font-size: 1.9rem;
  font-weight: normal;
}

.main-content h3 {
  font-size: 1.6rem;
}

.main-content h4 {
  font-size: 1.5rem;
}

.main-content h5 {
  font-size: 1.2rem;
}

.main-content h6 {
  font-size: 1rem;
}
