@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.main-content {
  font-family: 'Crimson Pro', serif;
  font-kerning: auto;
  font-weight: 400;
  max-width: 60ch;
  font-size: 1.15rem;
}

.main-content ul li p {
  text-align: left;
}

.main-content ol li p {
  text-align: left;
}

.main-content p {
  text-align: justify;
}

@media (max-width: 31.25rem) {
  .main-content p {
    text-align: left;
  }
}

.sidenote {
  padding-left: 20px;
  margin-bottom: 1.5em;
  font-style: italic;
  font-size: 0.8em;
}

.sidenote-hover {
  color: #f99b6d;
  border-color: #f99b6d;
}

.main-content:has(#gallery-container) {
  max-width: 100%;

  img {
    display: block;
    max-width: 100%;
    max-height: 85vh;
    height: auto;
    margin: 0 auto -0.8em auto;
    border: 0.3em solid #000;
  }

  p {
    text-align: left;
  }

  p:has(img) + p {
    margin: 0.5em 2em 2em 2em;
    font-style: italic;
    text-align: center;
  }

  .main {
    position: relative;
    max-width: 100vw;
  }
}

@media (min-width: 50rem) {
  .main:has(#gallery-container) {
    position: relative;
    max-width: 90%;
  }
  .main-content:has(#gallery-container) img {
    border: 0.5em solid #000;
  }
}

.main-header-no-search {
  z-index: 0;
}

.nav-list .nav-list-item .nav-list-link {
  min-height: 2rem;
  line-height: 1.15rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
}

.site-title {
  font-size: 1.2rem !important;
}

.main-content h1 {
  font-weight: 500;
}
