@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.main-content {
  font-family: 'EB Garamond', serif;
  font-variation-settings: 'opsz' 12;
  font-kerning: auto;
  font-weight: 400;
  max-width: 70ch;
}

.main-content ul li p {
  text-align: left;
}

.main-content ol li p {
  text-align: left;
}

.main-content p {
  text-align: justify;
}

@media (max-width: 31.25rem) {
  .main-content p {
    text-align: justify;
  }
}

.sidenote {
  padding-left: 20px;
  margin-bottom: 1.5em;
  font-style: italic;
  font-size: 0.8em;
}

.sidenote-hover {
  color: #f99b6d;
  border-color: #f99b6d;
}

main:has(#photography) {
  /* Styles for the main parent of #photography */

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto -0.5em auto;
  }

  p:has(img) + p {
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-style: italic;
  }
}
