[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #b84343;
}

article {
    max-width: 60ch;
}

article h1 {
    font-size: 2.5em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
}

article h2 {
    font-size: 2em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
    font-style: italic;
}

article h3 {
    font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
    font-style: italic;
}

article h4 {
    font-size: 1.5em;
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37) 0;
    font-style: italic;
}


article p {
    font-size: 1em;
    line-height: calc(1ex / 0.32);
    font-kerning: auto;
    font-variant-ligatures: common-ligatures;
    text-align: justify;
    hyphens: auto;
}

div {
    counter-reset: par-counter;
}

article p::before {
    counter-increment: par-counter;
    content: "[" counter(par-counter) "] ";
    font-size: 0.75em;
    color: tomato;
}

.md-typeset blockquote {
    color: var(--md-default-fg-color);
    margin: 2em 2em;
}

.md-sidebar--secondary {
    margin-right: 5em;
}